@import '../../theme.scss';

.ui.list.mg-layer-tree {
    display: flex;
    flex-direction: column;
    margin: 1em 0px 0px 1em;
}

.mg-layer-tree .mg-list-item {
    display: flex !important;
}

.mg-layer-tree .mg-list-item .mg-node-fold-button {
    margin-left: calc(-1.18em  - 0.25em);
    cursor: pointer;
}

.ui.list > .item > .content > .mg-sublist  {
    margin-left: 5px;
}

.mg-content > .mg-sublist > .mg-sub-layer-item {
    display: flex !important;
    flex-direction: row;
}

.mg-layer-tree .mg-content, .mg-list-item-content {
    margin-left: 7px;
}
 
