// theme.scss

$mg-font:Tahoma, sans-serif;
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color:#28a745;
$success-color:#28a745;
$danger-color:#dc3545;
$warning-color:#ffc107;
$info-color:#17a2b8;
$dark-color:#343a40;

$primary-background-color:#eee;

body {
  font: $mg-font;
  box-sizing: border-box;
}